<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Startseite</h1>
      </div>
    <p><a href="freizeittipps">Freizeittipps</a></p>
    <p><a href="freizeittipp_add">Freizeittipps hinzufügen</a></p>
    <p>https://djangopy.org/how-to/how-to-implement-categories-in-django/</p>
    <p>https://www.dev2qa.com/how-to-fix-django-url-noreversematch-error-reverse-for-with-keyword-arguments-not-found/</p>

    https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views
    <p>https://docs.djangoproject.com/en/dev/ref/templates/builtins/#url</p>
    <p><a href="https://www.youtube.com/watch?v=-0nYBqY9i5w">Multiple images #1</a> </p>
    <p><a href="https://www.youtube.com/watch?v=VX6VLNeRvis&t=0s">Multiple images #2</a> </p>
    <p><a href="https://github.com/raszidzie/Multiple-Images-Template-Django">Multiple Image Upload example - Git</a> </p>
    <p><a href="https://www.youtube.com/watch?v=jjdeOp_E7OU">Multiple images #3</a> </p>

  </div>
  </body>
</html>
